[alias]
br = branch
brd = branch -d
brD = branch -D
brm = branch -m
co = checkout
cob = checkout -b
st = status
cp = cherry-pick
aa = add -A .
au = add -u
c = commit
cm = commit -m
ca = commit --amend
cam = commit --amend -m
can = commit --amend --no-edit
sh = stash
shl = stash list
shp = stash pop
shs = stash save
rb = rebase
fp = fetch --prune
fpr = !"git fp && git rb"
l = log
lo = log --oneline
lon = log --oneline -n
lg = log --graph --abbrev-commit --decorate
d = diff
dh = diff HEAD~1 HEAD
dc = diff --cached
